/* TABLETS */
@media (max-width: 1024px) {
	
	
		
	/* COMMON */	
		
	body {
		width:100%;
	    overflow-x: hidden;
	}


	h2 { 
		margin-left: 15px;
		font-size: 22px;
		padding-top: 35px;
		padding-bottom: 14px;
	}

	h3{
		margin-left: 15px;
		font-size: 18.5px;
	}

	h4 {
		margin-left: 18px;
	}

	.chat{
		font-size: 15px;
		border-radius: 7px 7px 7px 7px;
		position: fixed;
		top: 0;
	}


	p {
		font-size: 18px;
	}
	
	a:hover {
		text-decoration: none;
		color: lightyellow !important;
	}


	fieldset { 
		padding-top: 15px;
		margin-top: 35px;
		padding-bottom: 33px;
		width: 75%;
	}



	.socialcontainer a img{
		width: 95px;
		height: 45px;
	}
	
	label {
		font-size: 14.5px;
	}



	/* Used in drehi.html, info1.html, info2.html, 
	infopantalon3.html, inforiza1.html, 
	infoteniska1.html */

	.product{
		width: 100%;
		padding: 0;
	}

	.product ul li{
		margin-right:10px;
	}
	




	/* SEARCH */

	.container-1 input#search{
		margin-left: 100px;
		width: 100px;
		height: 19px;
		font-size: 15px;
		padding-left: 15px;
	}



	 
	 
	 
	 
	 
	 
	 
	 
	 
	 /* NAV */


	.navigation {

	  width: 100%;
	  height: 100%;
	  position: fixed;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 0;
	  list-style: none;
	  background: black;
	  display: block;
	}


	.nav-item {
	  width: 200px;
	  border-top: 1px solid #111;
	  border-bottom: 1px solid #000;
	}


	.nav-item a {
	  display: block;
	  padding: 1em;
	  
	  color: white;
	  font-size: 1.2em;
	  text-decoration: none;
	  transition: color 0.2s, background 0.5s;
	}

	.site-wrap { 
	  min-height: 100%;
	  min-width: 100%;
	  background-color: white; 
	  position: relative;
	  top: 0;
	  bottom: 100%;
	  left: 0;
	  z-index: 1;
	  padding: 4em;
	  background-image:url(../img/background.jpg);
	  background-size: 200%;
	}


	.nav-trigger {
	  position: absolute;
	  clip: rect(0, 0, 0, 0);
	}

	label[for="nav-trigger"] {
	  position: fixed;
	  left: 15px; 
	  top: 15px;
	  z-index: 2; 
	  height: 30px;
	  width: 30px;
	  cursor: pointer;
	  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
	  background-size: contain;
	}


	.nav-trigger + label, .site-wrap {
	  transition: left 0.5s;
	}

	.nav-trigger:checked + label {
	  left: 215px;
	}

	.nav-trigger:checked ~ .site-wrap {
	  left: 200px;
	  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	}
	
	h1, h3, p {
	  margin: 0 auto 1em;
	}
	
	
	code {
		padding: 2px;
		background: #ddd;
	}
	
	*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
	html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }

	#menu {
		display: none;
	}
	 
	 
	  
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	/* INDEX.HTML */

	
	#ul1{
		font-size: 17px;
	}
	

	.imgpromotion{
		width: 330px;
		height: 216px;
		margin-top: 0;
	}

	.article0{
		padding-top: 33px;
		font-size: 20px;
	} 

	.article1 {
		font-size: 17px;
	} 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 
	 /* ZANAS.HTML */

	 
	.h3class {
		margin-top: 11px;
		margin-bottom: 8px;
	}


	.h3class1{
		font-size: 22px;
		margin-top: 3px;
		margin-bottom: 8px;
	}


	#h3id4{ 
		margin-bottom: 4px;
	}



	.borderbox{
		width: 426px;
		height: 250px;
		padding: 11px;
	}


	.flexcontainer1 div{
		margin-left: 15px;
		margin-top: 5px;
		 
	}

	.borderimg{
		width: 447px;
		height: 123px;
		margin-top: 0;
		padding-top: 0;
	}
	 
	 	  
	 
	 
	 
	 
	 
	 
	 
	/* KONTAKTI.HTML */

	#anketaid{
		padding: 0;
		width: 20%;
	}
	

	#formaid{
		font-size: 14px;
		width: 75%;
		margin-bottom: 25px;
		padding-top: 35px;
		padding-bottom: 35px;
		text-align: center;
		margin-top: 0;
	}

	#article1id{
		line-height: 3px;
		padding-top: 25px;
		padding-bottom: 0;
	}
	
	#article1id p{
		margin-left: 1px;
	}
	
	
	#idinfo{
		padding-bottom: 25px;
		padding-bottom: 25px;
	}

	 
	 
	 
	 
	 
	 
	 
	 
	/* ANKETA.HTML */

	#anketaid1{
		padding-left: 34px;
		padding-top: 15px;
		padding-bottom: 34px;
		margin-top: 25px;
		width: 75%;
		margin-top: 35px;
	}
	 

	 
	 
	 
	 
	 
	 
	 

	 /* 	.paragraf1, .paragraf2, .paragraf3{
		margin: 0;  */


	.product1{
		width: 100%;
		margin-left: 0;
	}
	
	.product1 ul li{
		margin-right:10px;
	}
	
	
	.divrokli p{
		font-size: 19px;
	}


		
	.divrokli{
		margin-left: 15px;
		margin: 0;
		padding: 0;
	}
			

	#div-a{
		padding-top: 17px;
	}

		
		
	.paragraf2~p{
		line-height: 0.5px;
		margin-left: -14px;
	}
	
	
	.paragraf3+p{
		line-height: 1px;
		margin-left: -14px;
	}

	#rokli, #rizi, #teniski, #pantaloni{
		margin-left: 25px;
		font-size: 21px;
		margin-top: 3px;
		margin-bottom: 3px;
	}
	
	.paragraf1, .paragraf2, .paragraf3{
		margin: 0;
	}
	
	.paragraf2 p{
		padding: 0;
	}
	
	#idp{
		margin-left: 5px;
		font-size: 16px;
	}
	

	
	.divrokli p, .paragraf1 p, .paragraf2 p, .paragraf3{
		font-size: 17px;
		line-height: 1px;
		padding-top: 0;
		margin-left: -10px;
	}
	
	.paragraf3 p{
		line-height: 1px;
		margin-left: -4px;
	}
	
	div p{
		padding-top: 0;
		padding-left: 15px;
		margin-left: -6px;
	}
	
	p {
		margin-left:0;
	}
	
	.product p{
		font-size: 17px;
		line-height: 1px;
		padding-top: 0;
		margin-left: -14px;
	}
		
	







	/* GIFTCARDS.HTML */
	
	#h3giftcards{
		font-family: times new roman;
		font-size: 21px;
		padding-top: 35px;
	}

	.flexcontainer {
	    display: table;    
	    text-align: center;
	    -webkit-flex-direction: coloumn; 
	    flex-direction: coloumn;
	    -webkit-align-items: center;
	    align-items: center;
	    -webkit-justify-content: center;
	    justify-content: center;
	    width: 76%;
	    padding-bottom: 15px;
	    margin-bottom: 25px;
	}
	


	.flexcontainer img{	
		width: 400px;
		height: 250px;
		}
		


	.classlabel{
		margin-left: 100px;
		text-align: center;
		display: flex;
		margin-top: 0;
		margin-bottom: 8px;
		padding-top: 0;
		padding-bottom: 5px;
	}
	
	
	#giftcardsid{
		font-size: 19px;
	}












	/* DETAILI.HTML */

	.demo-3 {
		margin:0;	
	}
	
	.h3color{
		font-family: times new roman;
		margin-top: 78px;
		font-size: 21px;
	}
	
	.demo-3 .classimg {
		padding-left: 37px;
	}
	
	#iddiv{
		font-size: 15px;
		text-align: left;
	}







		


	/* INFO1.HTML */


	
	.divclass1{
	    padding-bottom: 15px;
		margin-left: 2px;
	}

	.pclass{
		font-size: 17px;
		line-height: 1.5px;
		margin-left: 0;
		padding-top: 33px;
		padding-bottom: 0;
		margin-left: -8px;
		}










	/* INFO2.HTML */

	
	.pclass2{
		margin-left: 5px;
		margin-top: 35px;    
		padding: 0;
		line-height: 1px;
		margin-left: -4px;
		
	}



	/* INFORIZA1.HTML */
	
	.articleclass1{
		margin-left: 0px;
	}





	/* INFOPANTALON3.HTML */

	.pclass3{
		margin-left: 19px;
		margin-top: 35px;
	}
	
	.pclass3:not(p) { 
		margin-top: 45px;
		margin-bottom: 5px;
		width: 250px;
		height: 35px;
		margin-left: 4px;
	}
	
	.classarticle3{
		margin-left: 0px;
	}
	

	



	


	
	/* INFOTENISKA1.HTML */

	.pclass1{
		margin-top: 35px;
		line-height: 1px;
		margin-left: 0px;
	}

	.pclass-2{
		padding: 0;
		line-height: 1px;
		margin-left: 0px;
	}
	
	.articleclass2{
		margin-left: -1px;
	}






	/* FOOTER */

	footer {
		font-size: 14px;
	}


 

}












	/* PHONES */

		/* ONLY FOR IPHONE 5 */
@media (max-width: 320px) {
	
	
	/* COMMON */
	

	.chat{
		font-size: 10px;
		margin-right: -41px;
	}


	#asideid1{
		font-size: 15px;
	}
	
	#idcontainer{
		height: 60px;
	}

	#idcontainer .socialcontainer{
		position: relative;
		margin: 15px;
		padding: 7px 7px;
		margin-left: 0;
	}

	.socialcontainer a img{
		width: 67px;
		height: 36px;
	}


	.product{
		width: 100%;
		padding: 0;
	}

	.product ul li{
		margin-right:10px;
	}
	
	table, th, td {
		height: 15px;
		width: 84%;
		font-size: 14px;
		margin-bottom: 21px;
		margin-top: -5px;
	}
	
	article .aimage{
		display: inline-table;
		border: 1px solid black;
	}
	
	.zoom, .zoom:hover{
		width: 250px;
		height: 211px;
	}
	

	
	a[target="_blank"] {
		font-size: 14px;
		margin-left: 0px;
		font-family: verdana;
	}
	
	.paragraf1 p, .paragraf2 p, .paragraf3 p, .pclass1, .pclass2, .pclass-2{
		line-height: 15px;
		font-size: 17px;
	}
	
	.divrokli p, .paragraf1 p, .paragraf2 p, .product p, .paragraf3{
		line-height: 15px;
		font-size: 17px;
	}
	
	
	label {
		font-size: 13px;
	}
	


	/* SEARCH */

	.container-1 input#search{
		margin-left: 134px;
		width: 69px;
		height: 18px;
		font-size: 12px;
		padding-left: 4px;
		margin-top: -14px;
	}
	


	
	
	
	
	
	/* HEADER */
	
	header{
		padding: 5%;
	}
	
	#h1id{
		font-size: 20px;
	}
	
	.classlogo{
		position: relative;
		width: 100px;
		height: 54px;
	}
	
	.classlogo:hover{
		animation: none;
	}
	
	.classlogo img{
		width: 79px;
		height: 43px;
	}



	
	
	
	
	
	/* NAV */
	
	label[for="nav-trigger"] {
		height: 21px;
		width: 21px;
		margin-left: -8px;
	}
	
	.site-wrap{
		padding: 2em;
	}
	
	.nav-item a{
		font-size: 15px;
	}
	
	.nav-trigger:checked ~ .site-wrap {
		left: 155px;
		box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
	}
	
	
	.nav-trigger:checked + label {
		left: 170px;
	}
	
	
	
	
	
		
	
	
	
	/* INDEX.HTML */
	
	#idh3index{
		margin-top: -3px;
		margin-bottom: 7px;
		font-size: 17px;
	}
	
	
	.imgpromotion{
		margin-top: 4px;
		width: 234px;
		height: 124px;
	}
	
	#ul1{
		margin-left: 14px;
		font-size: 14px;
	}
	
	.article1{
		margin-left: 0;
		font-size: 15px;
	}
	
	
	
	
		
	
	
	/* DREHI.HTML */
	
	#div-a{
		font-size: 16.5px;
		padding-top: 7px;
	}
	
	
	#rokli, #rizi, #teniski, #pantaloni{
		font-size: 20px;
		margin-bottom: 1px;
	}
	
	.divrokli p{
		font-size: 16px;
		line-height: 15px;
	}
	
	.product img{
		width: 250px;
		height: 211px;
	}
	
	.paragraf2~p {
		line-height: 15px;
		margin-left: -10px
	}
	


	

	

	
	
	/* REG.HTML, KOMENTAR.HTML, VHOD.HTML */
	
	#fieldsetid label{
		font-size: 16px;
	}	
	
	#fieldsetid {
		font-size: 14px;
	}
	
	
	
	
	
	
	/* ANKETA.HTML */
	
	#anketaid1{
		padding-left: 24px;
		margin-left: 4px;
		font-size: 12px;
	}
	
	.classanketa{
		font-size: 13.5px;
	}

	
	
	
	
	

	
	/* INFO1.HTML */
	
	.pclass{
		line-height: 18px;
	}
	

	
	
	
	
		
	/* GIFTCARDS.HTML */
	
	#h3giftcards {
		font-size: 16px;
		padding-top: 19px;
		text-align: -webkit-auto;
		margin-left: 5px;
	}
	
	
	.flexcontainer {
		margin-left: 7px;
	}
	

	.flexcontainer img{	
		margin-left: 15px;
		width: 215px;
		height: 150px;
		}
		

	.classlabel{
		margin-left: 15px;
		text-align: center;
		display: flex;
		margin-bottom: 15px;
		padding-bottom: 0;
		font-size: 13px;
	}
	
	
	

	
	
	
	
	
	
	/* ZANAS.HTML */
	
	div h2{
		margin-top: 15px;
		font-size: 19px;
		padding-top: 23px;
		padding-bottom: 0;
	}
	
	
	.borderbox {
		width: 230px;
		height: 190px;
		padding: 11.5px;
	}
	
	
	.borderbox h3{
		font-size: 15px;
		font-family: verdana;
	}
	
	
	.flexcontainer1 {
	   display: -webkit-flex;
	   display: inline;
	   -webkit-flex-direction: coloumn;
	   flex-direction: coloumn;
	   -webkit-align-items: center;
	   align-items: center;
	   -webkit-justify-content: center;
	   justify-content: center;
	}
	
	.flexcontainer1 div {
		margin-top: 15px;
	}
	
	#h3id3 {
		font-size: 17.5px;
		padding-top: 15px;
		padding-bottom: 0;
		margin-left: 0;
	}
	
	
	#rabotno_vreme {
		font-size: 15px;
		margin-left: 0;
	}
	
	.flexcontainer1 div img{ 		
		width: 230px;
		height: 200px;
	}
	
	#h3id4 {
		margin-bottom: 4px;
		font-size: 19px;
	}
	
	.borderimg {
		width: 248px;
		height: 70px;
		margin-top: 0;
		margin-left: 1px;
		padding-top: 0;
		display: inline;
	}
	
	.h3class, .h3class1{
		font-size: 19px;
		text-align: center;
	}
	
	#ol1{
		font-size: 16px;
		text-align: start;
		margin-left: 18px;
	}
	
	
	.coloumns {
		padding-top: 5px;
		margin-left: 15px;
		font-family: arial;
		font-size: 13px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		text-align: initial;
		-webkit-column-gap: 13px;
		-moz-column-gap: 13px;
		column-gap: 13px;
	}
	
	#giftcardsid {
		font-size: 15px;
	}
	
	
	
	
		
	
	
	
	/* DETAILI.HTML */
	
	
	.article0{
		padding-top: 25px;
		font-size: 16px;
		padding-bottom: 7px;
		text-align: center;
	}
	
	#iddiv{
		font-size: 13px;
		text-align: justify;
	}
	
	.demo-3 figure img {
		backface-visibility: hidden;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all 1s;
		width: 220px;
		height: 136px;
	}
	

	
	ul .classimg {
		height: 130px;
		margin-left: 30px;
	}
	
	
	.demo-3 figure figcaption {
		top: 0;
		left: 0;
		width: 220px;
		height: 136px;
		padding: 15px;
		background-color: rgba(26,76,110,0.5);
		text-align: center;
		backface-visibility: hidden;
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}
	
	.demo-3 figure:hover img,figure.hover img {
		-webkit-transform:rotateY(0deg);
		-moz-transform:rotateY(0deg);
		transform:rotateY(0deg);
	}
	.demo-3 figure:hover figcaption,figure.hover figcaption {
		-webkit-transform:rotateY(0);
		-moz-transform:rotateY(0);
		transform:rotateY(0);
	}
	
	
	.h3color {
		font-family: calibri;
		margin-top: 34px;
		font-size: 16px;
		text-align: center;
		margin-left: 0;
	}
	
	
	
	
	
	
	
	
	/* KONTAKTI.HTML */
	
	
	#article1id {
		line-height: 16px;
		padding-top: 15px;
		padding-bottom: 0;
		text-align: inherit;
		font-size: 18px;
	}
	
	hgroup h3 {
		margin-left: 15px;
		font-size: 15px;
	}
	
	#idinfo{
		padding-bottom: 16px;
	}
	
	div p{
		font-size: 15px;
		margin-top: auto;
		
	}
	
	#formaid {
		font-size: 11px;
		padding-top: 17px;
	}
	
	

	
	
	/* FOOTER */

	footer {
		padding-left: 3px;
		font-size: 12px;
	}
	
	
	
}

















	/* PHONES */
@media (max-width: 480px) {



	/* COMMON */
	


	#h1id {
    font-size: 23px;
	}
	
	
	.site-wrap {
		padding: 2em;
	}	
	
	label[for="nav-trigger"] {
		height: 21px;
		width: 21px;
		margin-left: -8px;
	}
	
	.chat {
		font-size: 13px;
		margin-left: 73px;
		top: 1px;
		right: 0;
		left: 193px;
		position: fixed;
		height: 33px;
		width: 47px;
	}
	
	#idcontainer .socialcontainer{
		position: relative;
		margin: 15px;
		padding: 7px 7px;
		margin-left: 0;
	}

	.socialcontainer a img{
		width: 67px;
		height: 36px;
	}
	
	.pclass, .product p, div p {
		line-height: 17.5px;
	}
	
	
	

	
	
	
	
	
	/* DREHI.HTML */
	
	.paragraf2~p {
		line-height: 17.5px;
		font-size: 16.5px;
	}	
	
	
	.divrokli p, .paragraf1 p, .paragraf2 p, .paragraf3 {
		line-height: 16px;
		font-size: 16.5px;
	}
	
	
	.paragraf3 p {
		line-height: 16px;
		font-size: 16.5px;
		margin-left: 1px;
	}
	
	#idp {
		font-size: 17px;
	}
	
	
	
	
	
	/* KONTAKTI.HTML */
	
	
	#article1id {
		line-height: 17px;
		padding-top: 15px;
		padding-bottom: 0;
		text-align: inherit;
		font-size: 18px;
	}
	
	hgroup h3 {
		margin-left: 15px;
		font-size: 15px;
	}
	
	#idinfo{
		padding-bottom: 16px;
	}
	
	div p{
		font-size: 15px;
		margin-top: auto;
		
	}
	
	#formaid {
		font-size: 11px;
		padding-top: 17px;
	}
	
	
	
		/* GIFTCARDS.HTML */
	
	#h3giftcards {
		font-size: 17px;
		padding-top: 19px;
		text-align: -webkit-auto;
		margin-left: 5px;
	}
	
	
	.flexcontainer {
		margin-left: 7px;
	}
	


	.flexcontainer img{	
		margin-left: 12px;
		width: 235px;
		height: 155px;
		}
		


	.classlabel{
		margin-left: 15px;
		text-align: center;
		display: flex;
		margin-bottom: 15px;
		padding-bottom: 0;
		font-size: 14px;
	}
	
	
	
	
	
	
	
	/* ZANAS.HTML */
	
	div h2{
		margin-top: 15px;
		font-size: 19px;
		padding-top: 23px;
		padding-bottom: 0;
	}
	
	
	.borderbox {
		width: 230px;
		height: 190px;
		padding: 11.5px;
	}
	
	
	.borderbox h3{
		font-size: 15px;
		font-family: verdana;
	}
	
	
	.flexcontainer1 {
	   display: -webkit-flex;
	   display: inline;
	   -webkit-flex-direction: coloumn;
	   flex-direction: coloumn;
	   -webkit-align-items: center;
	   align-items: center;
	   -webkit-justify-content: center;
	   justify-content: center;
	}
	
	.flexcontainer1 div {
		margin: auto;
		margin-top: 25px;
	}
	
	#h3id3 {
		font-size: 17.5px;
		padding-top: 15px;
		padding-bottom: 0;
		margin-left: 0;
	}
	
	
	#rabotno_vreme {
		font-size: 15px;
		margin-left: 0;
	}
	
	.flexcontainer1 div img{ 		
		width: 230px;
		height: 200px;
		margin: auto;
		display: table-row-group;
	}
	
	#h3id4 {
		margin-bottom: 4px;
		font-size: 19px;
	}
	
	.borderimg {
		width: 100%;
		height: 88px;
		margin-top: 0;
		margin-left: 1px;
		padding-top: 0;
		display: inline;
	}
	
	.h3class, .h3class1{
		font-size: 19px;
		text-align: center;
	}
	
	#ol1{
		font-size: 16px;
		text-align: start;
		margin-left: 18px;
	}
	
	
	.coloumns {
		padding-top: 5px;
		margin-left: 15px;
		font-family: arial;
		font-size: 13px;
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		text-align: initial;
		-webkit-column-gap: 13px;
		-moz-column-gap: 13px;
		column-gap: 13px;
	}
	
	#giftcardsid {
		font-size: 15px;
	}
	
	
	
	/* DETAILI.HTML */
	
	
	
	.article0{
		padding-top: 25px;
		font-size: 16px;
		padding-bottom: 7px;
		text-align: center;
	}
	
	#iddiv{
		font-size: 13px;
		text-align: justify;
	}
	
	.demo-3 figure img {
		backface-visibility: hidden;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all 1s;
		max-width: 60%;
		height: 60%;
	}
	
	ul .classimg {
		height: 217px;
		margin-left: 30px;
	}
	
	.demo-3 figure figcaption {
		top: 0;
		left: 0;
		max-width: 60%;
		height: 60%;
		padding: 15px;
		background-color: rgba(26,76,110,0.5);
		text-align: center;
		backface-visibility: hidden;
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
	}
	
	.demo-3 figure:hover img,figure.hover img {
		-webkit-transform:rotateY(0deg);
		-moz-transform:rotateY(0deg);
		transform:rotateY(0deg);
	}
	.demo-3 figure:hover figcaption,figure.hover figcaption {
		-webkit-transform:rotateY(0);
		-moz-transform:rotateY(0);
		transform:rotateY(0);
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
}