@charset "UTF-8";
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table,
th,
td, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table, th, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */





@font-face {
    font-family: NeuzeitS;
    src: url(../Fonts/Neuzeit_S_LT_Book.ttf);
}

@font-face {
    font-family: Myriad Pro;
    src: url(../Fonts/Myriad-Pro_31655.ttf);
}





/* Homepage */

.body{
  width: 100%;
}


nav{
     width: 100%;
    height: 6.7%;
    background: black;
    opacity: 0.8;
    position: absolute;
    z-index: 20;
}

nav ul{
  display: inline-flex;
   height: 3.3%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 94.6%;
  margin: 0 2.7%;
}
  
.container{
  width: 100%;
  padding: 0;
}


.carousel-control{
  color: #00e1f5 !important;
  z-index: 13 !important;
  width: 2.7% !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 21%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 21%;
}

.carousel-indicators li{
  background-color: #a2a2a2;
  border: 0
}

.carousel-indicators .active {
  background-color: #00e1f5;
  width: 10px;
  height: 10px;
  margin: 1px;
}

#myCarousel > a.left.carousel-control,
#myCarousel > a.right.carousel-control{
  background-color: #ebebe6;
}


#myCarousel > div > div:nth-child(1) > p{
  padding: 0;
  float: left;
  color: red;
  font: 12px Monaco, Mono-Space;
  margin: 0;
}

.cnt{
  position: absolute;
  border: 1px solid red;
  width: 200px;
  height: 100px;
  top: 40%;
  left: 20%;
}

section {
  max-width: 1200px;
  margin: auto;
}

#up, #down{
  width: 100%;
}


.images,
.imagesSmall{
  width: 100%;
}



.flex-container{
  display: flex;
  flex-direction: column;
  /*  padding-top: 21px;*/
/*  padding-top: 1%;*/
padding-top: 12px;
  flex-flow: row wrap;
  justify-content: space-around;
}





.box-up{
  max-width: 386px;
  width: 32.16%;
  float: left;
  padding-top: 21px;
  padding-bottom: 4.2%;
  /*padding-bottom: 197px;*/
  /*  padding-left: 1%;*/
  /*height: 55.2%;*/
}

/*section  article:last-child  img{
  margin: 0;
}*/

#up > div:nth-child(2){
  margin-left: 1.76%;
  margin-right: 1.76%;
}


.box-down{
  max-width: 224px;
  width: 18.7%;
  float: left;
  margin-right: 1.625%;
  /* height: 55.2%;*/
  /*  margin-right: 1.33%;*/
}

#down > div:nth-child(5){
  margin: 0;
}




footer{
  width: 100%;
}

#footerContainer{
  max-width: 1200px;
  margin: auto;
  margin-top: 5.7%;
  margin-bottom: 0.6%;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}



footer .input{
  height: 39px;
  background: url(../img/arrowFooter.png) no-repeat;
  background-position: right 5% top 50%;
  width: 90%;
  height: 39px;
  padding-left: 5%;
  letter-spacing: 0.1em;
  /* margin-bottom: 27px; */
  margin-left: 2%;
  background: url(../img/arrowFooter.png) no-repeat;
  background-position: right 5% top 50%;
}


#footerContainer input:hover {
    background: url(../img/arrowFooterHover.png) no-repeat;
    background-position: right 5% top 50%;
} 

footer .input[value]{
  width: 100%;
  font-size: 17px;
  font-family: "NeuzeitS", sans-serif;
  /*  padding-left: 4%;*/
  padding-left: 18px;
  /* float: right; */
  margin-top: 0;
  /* margin-right: 21.5%; */
  letter-spacing: 1.8px;
  border: 1px solid #969696;
  /* margin-left: -111%; */
  /*margin-right: -16%;*/
}



#footerContainer p{
  font-size: 14px;
  font-family: "NeuzeitS", sans-serif;
  color: rgb(50, 50, 50);
  line-height: 1.286;
  text-align: center;
  margin-top: 5px;
}



.flexCont{
  display: inline-flex;
/*  width: 100%;*/
  /*  margin-left: 25px;*/
  /*  margin-top: 5.6%; */
  padding-top: 3%;
  padding-left: 21%;
}

#wrapper > footer > p{
  text-align: center;
  margin-top: 3%;
  margin-bottom: 1%;
  color: #b2b2b2;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "NeuzeitS", sans-serif;
  line-height: 1.523;
  text-align: center;
}

#inputId{
  float: right;
  margin-right: 22%;
  width: 25%;
  margin-top: 2.5%;
}






#fb{
  background: url(../img/footer.png) no-repeat -16px -6px;
  width: 11px;
  height: 22px;
}

#fb:hover{
  background: url(../img/footerHover.png) no-repeat -16px -6px;
  color: #00e1f5;
}


#twitter{
  background: url(../img/footer.png) no-repeat -61px -8px;
  width: 23px;
  height: 18px;
  margin-left: 30px;
}

#twitter:hover{
  background: url(../img/footerHover.png) no-repeat -61px -8px;
  color: #00e1f5;
}

#instagram{
  background: url(../img/footer.png) no-repeat -116px -7px;
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

#instagram:hover{
  background: url(../img/footerHover.png) no-repeat -116px -7px;
  color: #00e1f5;
}

#id4{
  background: url(../img/footer.png) no-repeat -165px -6px;
  width: 23px;
  height: 22px;
  margin-left: 30px;
}

#id4:hover{
  background: url(../img/footerHover.png) no-repeat -165px -6px;
  color: #00e1f5;
}

#id5{
  background: url(../img/footer.png) no-repeat -224px -6px;
  width: 12px;
  height: 22px;
  margin-left: 30px;
}

#id5:hover{
  background: url(../img/footerHover.png) no-repeat -224px -6px;
  color: #00e1f5;
}

#id6{
  background: url(../img/footer.png) no-repeat -269px -9px;
  width: 29px;
  height: 16px;
  margin-left: 30px;
}

#id6:hover{
    background: url(../img/footerHover.png) no-repeat -269px -9px;
    color: #00e1f5;
}


#id7{
  background: url(../img/footer.png) no-repeat -325px -6px;
  width: 18px;
  height: 22px;
  margin-left: 30px;
}

#id7:hover{
  background: url(../img/footerHover.png) no-repeat -325px -6px;
  color: #00e1f5;
}

#list{
  width: 61%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  width: 77%;
  padding-bottom: 3.2%;
  /* margin-left: 12.3%; */
  letter-spacing: 1px;
  overflow: auto;
}


#list ul{
/*  padding-top: 3%;*/
  letter-spacing: 3px;
}

footer #list ul li {
  font-size: 14px;
  font-family: "NeuzeitS", sans-serif;
  color: rgb(50, 50, 50);
  line-height: 1.286;
  float: left;
  list-style-type: none;
  margin-left: 5.1%;
}


#list > ul > ul > li:nth-child(1),
#list > ul > ul > li:nth-child(2){
  border-right: 1px solid black;
  margin-left: 0;
}

#list > ul > ul > li:last-child{
  margin-left: 0;
}

#list > ul > ul > li > a{
  padding-left: 0.6%;
  padding-right: 0.6%;
  margin-left: 12px;
  margin-right: 12px;
}


#footerP{
  margin: auto;
  letter-spacing: 1px;
  padding-top: 2%;
  font-size: 12px;
  font-family: "Myriad Pro", sans-serif;
  color: rgb(50, 50, 50);
  text-transform: uppercase;
  line-height: 1.523;
  text-align: center;
  opacity: 0.902;
  width: 1200px;
/*  height: 30px;*/
padding-bottom: 11px;
}


#footerContainer > p{
  padding-top: 3%;
  font-size: 14px;
  font-family: "NeuzeitS", sans-serif;
  line-height: 1.636;
  color: #b2b2b2;
  text-align: center;
}

a {
  text-decoration: none;
  color: black; 
}

a:hover,
a:active,
a:visited,
a:focus{
  text-decoration: none;
  color: black; 
}


#footerContainer > div > p:nth-child(5){
  margin-top: 3.5%;
  color: #b2b2b2;
  text-align: center;
}

#footerContainer > div > p:nth-child(6){
    margin-top: 2.5%;
}





.clear{
  clear: both;
}


.text p{
  text-transform: uppercase;
  font-size: 13px;
  font-family: "NeuzeitS", sans-serif;
  color: rgb(150, 150, 150);
  line-height: 1.4;
  text-align: left;
  width: 100%;
  letter-spacing: 1px;
}

.price {
  float: right;
  font-size: 14px;
  font-family: "NeuzeitS", sans-serif;
  color: rgb(150, 150, 150);
  line-height: 1.286;
  text-align: right;
  width: 50px;
  height: 12px;
  padding-top: 1%;
}

.text1 {
  font-size: 14.5px;
  font-family: "NeuzeitS", sans-serif;
  color: rgb(50, 50, 50);
  line-height: 1.286;
  width: 100%;
  height: 32px;
  letter-spacing: 1.3px;
  padding-top: 1%;
}


h1 {
  width: 100%;
  line-height: 23px;
  letter-spacing: 1.35px;
  font-family: "NeuzeitS", sans-serif;
  font-size: 17px;
}

/*#up > div:nth-child(1) > div > h1,
#up > div:nth-child(2) > div > h1,
#up > div:nth-child(3) > div > h1{
  padding-top: 5px;
}*/
#up > div:nth-child(1) > div > p:nth-child(1),
#up > div:nth-child(2) > div > p:nth-child(1),
#up > div:nth-child(3) > div > p:nth-child(1){
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 13px;
}


#up > div:nth-child(1) > div > p:nth-child(3), 
#up > div:nth-child(2) > div > p:nth-child(3), 
#up > div:nth-child(3) > div > p:nth-child(3){
  text-transform: none;    
  letter-spacing: 0.14em;
  padding-top: 7px;
  font-size: 14px;
  line-height: 21px;
}





#up > div:nth-child(1) > div > p:nth-child(3) > span,
#up > div:nth-child(2) > div > p:nth-child(3) > span,
#up > div:nth-child(3) > div > p:nth-child(3) > span{
  color: #00e1f5;
}

#up > div:nth-child(1) > div > p:nth-child(3) > span > img,
#up > div:nth-child(2) > div > p:nth-child(3) > span > img,
#up > div:nth-child(3) > div > p:nth-child(3) > span > img{
  display: inline;
  color: #00e1f5;
  width: 9px;
}














/*#up > div:nth-child(1) > div > p:nth-child(3) > span > img:hover{
  display: inline;
  color: #00e1f5;
  width: 9px;
}*/



/*#footerContainer > img{
  color: black;
}

#footerContainer > img:hover{
  color: blue;
}

*/
/*#footerContainer > div:nth-child(2) > img{
  color: #323232;
}


#footerContainer > div:nth-child(2) > img:hover{
  color: blue;
}
*/



/*#imgFotter{
  background: url(../img/img-arrow02.png) no-repeat right;
    padding-right: 35px;
}*/


/*#imgFooter:hover{
  background: url('../arrowFooterHover.png') no-repeat -2px -2px;
  color: blue;
}
*/


/*#down > div:first-child > img{
  margin-left: 0;
  margin-right: 0;
}
*/

/*
#down > div:nth-child(2) > img{
  margin-left: 1.625%;
  margin-right: 1.625%;
}

#down > div:nth-child(3) > img{
  margin-left: 1.625%;
  margin-right: 1.625%;
}

#down > div:nth-child(4) > img{
  margin-left: 1.625%;
  margin-right: 1.625%;
}

*/
/*#down > div:nth-child(5) > img{
}*/

/*#down > div:nth-child(5) > img{
  margin: 0;
}*/

/*#down > div:nth-child(5) > img{
    margin-right: 0%;
    float: right;
}

*/

/*.shapeDiv{
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  background-color: rgb(150, 150, 150);
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 0;
}*/


/*#footerContainer img{
  margin-left: 20.4%;
  margin-bottom: 2.5%;
  margin-top: 2%;
}


#footerContainer img:hover{
  background-color: #00e1f5;
}*/