@charset "UTF-8";
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table,
th,
td, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  overflow-x: hidden; 
  font-family: NeuzeitS
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table, th, td {
  border-collapse: collapse;
  border-spacing: 0; }

/* END RESET */





/* @font-face */

@font-face {
    font-family: NeuzeitS;
    src: url(../Fonts/Neuzeit_S_LT_Book.ttf);
}

@font-face {
    font-family: Myriad Pro;
    src: url(../Fonts/Myriad-Pro_31655.ttf);
}


@font-face {
    font-family: FuturaStd;
    src: url(../Fonts/OpenSans-ExtraBold.ttf);
}



/* NAV */
nav{
  width: 100%;
  height: 6.7%;
  background: black;
  opacity: 0.8;
  position: absolute;
  z-index: 20;
}

nav ul{
  display: inline-flex;
  height: 3.3%;
}


#user{
  float: left;
  margin-left: 1%;
  top: 33%;
  position: absolute;
  padding: 0;
}

#search{
  float: right;
  top: 39%;
  position: absolute;
  margin-left: 94%;
}


#cart{
  float: right;
  position: absolute;
  top: 37%;
  margin-left: 96%;
}


#user:hover{
  background: url(../img/userHover.png) no-repeat;
  width: 2.5%;
  opacity: 100%;
}


#search:hover{
  background: url(../img/searchHover.png) no-repeat;
  width: 2.5%;
}


#cart:hover{
  background: url(../img/cartHover.png) no-repeat;
  width: 2.5%;
}


fieldset {
  padding-top: 15px;
  margin-top: 35px;
  padding-bottom: 33px;
  width: 75%; 
  font-size: 12px;
}

#fieldsetid{
  text-align: center;
  position: absolute;
  font-family: "Arial";
  font-weight: bold;
  font-style: italic;
  width: 180px;
  height: 224px;
  top: 33%;
  left: 0%;
  padding-bottom: 15px;
  background-color: #00e1f5;
}

#flatspot{
  float: left;
  margin-left: 520px;
}



#wrapper nav ul li{
  margin-left: 57px;
    margin-top: 1.6%;
    color: #FFFFFF;
    font-weight: bold;
    letter-spacing: 2.1px;
}






/* END NAV */






/* Body */

.body{
  width: 100%;
}

.container{
  width: 100%;
  padding: 0;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 94.6%;
  margin: 0 2.7%;
}
  

.carousel-control{
  color: #00e1f5 !important;
  z-index: 13 !important;
  width: 2.7% !important;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  margin-left: 21%;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
  margin-right: 21%;
}

.carousel-indicators li{
  background-color: #a2a2a2;
  width: 8.5px;
  height: 8.5px;  
  border: 0;
}

.carousel-indicators .active {
  background-color: #00e1f5;
  width: 8.5px;
  height: 8.5px;
  margin: 1px;
}

#myCarousel a.left.carousel-control,
#myCarousel a.right.carousel-control{
  background-color: #ebebe6;
}


.boxForText{
  position: absolute;
  border: 1px solid red;
  width: 320px;
  height: 295px;
  top: 38%;
  left: 26%;
  color: #ffffff;
  line-height: 1.2; 
  text-align: center;
}




.blog{
  /*position: absolute;
  border: 1px solid red;
  width: 260px;
  height: 169px;
  top: 36%;
  left: 19%;*/
  font-size: 15px;
  font-family: "Myriad Pro";
/*  color: rgb(255, 255, 255);*/
 line-height: 1.933;
/*  text-align: center;*/
}


.adidasCollection{
  font-size: 39px;
  font-family: "Myriad Pro";
  font-weight: bold;
  line-height: 1.363;
}



.otherText{
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 17px;
}
















/* SECTION */


section{
  max-width: 1200px;
  margin: auto;
}


.flex-container{
  display: flex;
  flex-direction: column;
  /*  padding-top: 21px;*
  /*  padding-top: 1%;*/
  padding-top: 11px;
  flex-flow: row wrap;
  justify-content: space-around;
}


#three-box, #five-box{
  width: 100%;
}

#three-box .box {
  max-width: 386px;
  width: 32.16%;
  float: left;
  padding-top: 21px;
  padding-bottom: 4.2%;
  /*padding-bottom: 197px;*/
  /*  padding-left: 1%;*/
  /*height: 55.2%;*/
}

#five-box .box {
  max-width: 224px;
  width: 18.7%;
  float: left;
  margin-right: 1.625%;
  /* height: 55.2%;*/
  /*  margin-right: 1.33%;*/
}

.threeBoxImages,
.fiveBoxImages{
  width: 100%;
}


#three-box .box:nth-child(2){
  margin-left: 1.76%;
  margin-right: 1.76%;
}


#five-box .box:nth-child(5){
  margin: 0;
}














h1 {
  width: 100%;
  line-height: 23px;
  letter-spacing: 1.33px;
  font-size: 17px;
  word-spacing: 2.16px;
}


.threeBoxImagesText p{
  text-transform: uppercase;
  font-size: 13px;
  color: rgb(150, 150, 150);
  line-height: 1.4;
  text-align: left;
  width: 100%;
  letter-spacing: 1px;
}

.price {
  float: right;
  font-size: 14px;
  color: rgb(150, 150, 150);
  line-height: 1.286;
  text-align: right;
  width: 50px;
  height: 12px;
  /*  padding-top: 1%;*/
  padding-top: 0.75px;
}

.fiveBoxImagesText {
  font-size: 14.5px;
  color: rgb(50, 50, 50);
  line-height: 1.286;
  width: 100%;
  height: 32px;
  letter-spacing: 1px;
  padding-top: 1%;
  word-spacing: 1.5px;
}


#three-box .box .threeBoxImagesText p:nth-child(1){
  margin-top: 8px;
  margin-bottom: 3px;
  font-size: 13px;
}


#three-box .box .threeBoxImagesText p:nth-child(3){
  text-transform: none;    
  letter-spacing: 0.139em;
  padding-top: 5.6px;
  font-size: 14px;
  line-height: 22px;
}


.readMore{
  color: #00e1f5 !important;
}

#three-box .box .threeBoxImagesText p:nth-child(3) span a img{
  display: inline;
  width: 9px;
}


a,
a:hover,
a:active,
a:visited,
a:focus{
  text-decoration: none;
  color: black; 
}









/* FOOTER */

footer{
  width: 100%;
}


#footerContainer{
  max-width: 1200px;
  margin: auto;
  margin-top: 5.4%;
  margin-bottom: 0.6%;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}


footer .input{
  height: 39px;
  background: url(../img/arrowFooter.png) no-repeat;
  background-position: right 5% top 50%;
  width: 90%;
  height: 39px;
  padding-left: 5.2%;
  letter-spacing: 0.1em;
  /* margin-bottom: 27px; */
  margin-left: 2%;
  background: url(../img/arrowFooter.png) no-repeat;
  background-position: right 5% top 50%;
}


#footerContainer input:hover {
  background: url(../img/arrowFooterHover.png) no-repeat;
  background-position: right 5% top 50%;
} 

footer .input[value]{
  width: 97%;
  font-size: 17px;
  /* padding-left: 4%; */
  padding-left: 13.6px;
  /* float: right; */
  margin-top: 0;
  /* margin-right: 21.5%; */
  letter-spacing: 1.82px;
  border: 1px solid #969696;
  /* margin-left: -111%; */
  /*margin-right: -16%;*/
}



#footerContainer p{
  font-size: 14px;
  color: rgb(50, 50, 50);
  line-height: 1.286;
  text-align: center;
  margin-top: 5px;
}



.flexCont{
  display: inline-flex;
  /*  width: 100%;*/
  /*  margin-left: 25px;*/
  /*  margin-top: 5.6%; */
  padding-top: 4.7%;
  padding-left: 21%;
}


#inputId{
  float: right;
  margin-right: 21%;
  width: 25%;
  margin-top: 3.8%;
}


/*#wrapper footer p{
  text-align: center;
  margin-top: 2.7%;
  margin-bottom: 1.45%;
  color: #b2b2b2;
  letter-spacing: 1px;
  font-size: 11.1px;
  line-height: 1.523;
  text-align: center;
}*/



/*#termList{
    display: inline;
}
#termList li{
    display: inline;
    border-right: 1px solid #b2b2b2;
    padding-right: 7px;
}
#termList li:last-child{
    border-right: none;
}

#termList li:nth-child(1){
    margin-left: 10px;
    letter-spacing: 0.4px;
}

#termList li:nth-child(2){
    padding-right: 12px;
    padding-left: 1px;
    letter-spacing: 0.4px;
}
#termList li:nth-child(3){
    padding-right: 7px;
    letter-spacing: 0.4px;
} 
*/

.terms{
  text-align: center;
  margin-top: 2.5%;
  margin-bottom: 1.95%;
}


#termList li{
  display: inline-flex;
  border-right: 1px solid #b2b2b2;
}


#termList li a{
  text-align: center;
  color: #b2b2b2;
  letter-spacing: 0.4px;
  font-size: 12px;
  line-height: 1;
  margin-left: 4px;
  margin-right: 6px;
  word-spacing: 0.5px;
}


#termList li:last-child{
  border-right: 0;
}

#termList li:nth-child(1){
  margin-left: -4px;
}















/* SPRITE */

#fb{
  background: url(../img/footer.png) no-repeat -16px -6px;
  width: 11px;
  height: 22px;
}

#fb:hover{
  background: url(../img/footerHover.png) no-repeat -16px -6px;
  color: #00e1f5;
}


#twitter{
  background: url(../img/footer.png) no-repeat -61px -7px;
  width: 23px;
  height: 22px;
  margin-left: 34px;
}

#twitter:hover{
  background: url(../img/footerHover.png) no-repeat -61px -8px;
  color: #00e1f5;
}

#instagram{
  background: url(../img/footer.png) no-repeat -116px -7px;
  width: 20px;
  height: 22px;
  margin-left: 33px;
}

#instagram:hover{
  background: url(../img/footerHover.png) no-repeat -116px -7px;
  color: #00e1f5;
}

#id4{
  background: url(../img/footer.png) no-repeat -165px -6px;
  width: 23px;
  height: 22px;
  margin-left: 30px;
}

#id4:hover{
  background: url(../img/footerHover.png) no-repeat -165px -6px;
  color: #00e1f5;
}

#id5{
  background: url(../img/footer.png) no-repeat -224px -6px;
  width: 12px;
  height: 22px;
  margin-left: 33px;
}

#id5:hover{
  background: url(../img/footerHover.png) no-repeat -224px -6px;
  color: #00e1f5;
}

#id6{
  background: url(../img/footer.png) no-repeat -269px -9px;
  width: 29px;
  height: 22px;
  margin-left: 35px;
}

#id6:hover{
  background: url(../img/footerHover.png) no-repeat -269px -9px;
  color: #00e1f5;
}


#id7{
  background: url(../img/footer.png) no-repeat -325px -6px;
  width: 18px;
  height: 22px;
  margin-left: 28px;
}

#id7:hover{
  background: url(../img/footerHover.png) no-repeat -325px -6px;
  color: #00e1f5;
}

#list{
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.66%;
  width: 77%;
  padding-bottom: 4.47%;
  /* margin-left: 12.3%; */
  letter-spacing: 0.6px;
  overflow: auto;
}


#list ul{
  /*  padding-top: 3%;*/
  letter-spacing: 1.95px;
}

footer #list ul li {
  font-size: 14px;
  color: rgb(50, 50, 50);
  line-height: 1.286;
  float: left;
  list-style-type: none;
  margin-left: 5.25%;
  letter-spacing: 1.4px;
}


#list ul li:nth-child(1) > a{
  margin-right: 6px;
}


#list ul li:nth-child(2) a{
  margin-right: 1.5px;
}


#list ul li:nth-child(3) a{
  margin-right: 6px;
}


#list ul li:nth-child(4) a{
  margin-right: 4.5px;
}


#list ul li:nth-child(5) a{
  margin-right: 3px;
}


#list ul ul li:nth-child(1) a{
  margin-right: 10px;
}


#list ul ul li:nth-child(2) a{
  margin-right: 10.5px;
  margin-left: 13.5px;
}

#list ul ul li:nth-child(3) a{
  margin-left: 15px;
}


#list ul li:nth-child(3) a {
  margin-right: 6px;
margin-left: 1px;
}


#list ul ul li:nth-child(1),
#list ul ul li:nth-child(2){
  border-right: 1px solid black;
  margin-left: 0;
}



#list ul ul li:last-child{
  margin-left: 0;
}



#list ul ul li a{
  padding-left: 0.6%;
  padding-right: 0.6%;
  margin-left: 12px;
  margin-right: 12px;
}


/*#footerContainer p{
  padding-top: 3%;
  font-size: 14px;
  line-height: 1.636;
  color: #b2b2b2;
  text-align: center;
}


#footerContainer div p:nth-child(5){
  margin-top: 3.5%;
  color: #b2b2b2;
  text-align: center;
}

#footerContainer div p:nth-child(6){
  margin-top: 2.5%;
}
*/

.clear{
  clear: both;
}

/* END FOOTER */

.bannerClass{
  text-align: center;
}

#banner{
  display: inline-flex;
  text-align: center;
  margin-left: 15px;
}



#exitBanner{
  opacity: 0.902;
  color: #b7b7b7;
  font-size: 11px;
/*  height: 30px;*/
  float: right;
  margin-right: 15px;
/*  display: inline-flex;*/

}



#banner li a{
  margin: auto;
  letter-spacing: 1px;
  padding-top: 1%;
  font-size: 10.5px;
  font-family: "Myriad Pro", sans-serif;
  color:  #000000;
  text-transform: uppercase;
  line-height: 0;
  text-align: center;
  opacity: 0.902;
  width: 1200px;
  height: 30px;
  padding-bottom: 11px;
  margin-left: 7px;
  margin-right: 6px;
}


#banner li{
   border-right: 1px solid #000000;

}
#banner li:nth-child(1) a{
   margin-left: 4px;
  margin-right: 10px;
}


#banner li:nth-child(2) a{
  margin-left: 11px;
  margin-right: 9px;
}


#banner li:last-child{
  margin-left: 4px;
  border-right: 0;
}



/*#up > div:nth-child(1) > div > h1,
#up > div:nth-child(2) > div > h1,
#up > div:nth-child(3) > div > h1{
  padding-top: 5px;
}*/


/*#up > div:nth-child(1) > div > p:nth-child(3) > span > img:hover{
  display: inline;
  color: #00e1f5;
  width: 9px;
}*/



/*#footerContainer > img{
  color: black;
}

#footerContainer > img:hover{
  color: blue;
}

*/
/*#footerContainer > div:nth-child(2) > img{
  color: #323232;
}


#footerContainer > div:nth-child(2) > img:hover{
  color: blue;
}
*/



/*#imgFotter{
  background: url(../img/img-arrow02.png) no-repeat right;
    padding-right: 35px;
}*/


/*#imgFooter:hover{
  background: url('../arrowFooterHover.png') no-repeat -2px -2px;
  color: blue;
}
*/


/*#down > div:first-child > img{
  margin-left: 0;
  margin-right: 0;
}
*/

/*
#down > div:nth-child(2) > img{
  margin-left: 1.625%;
  margin-right: 1.625%;
}

#down > div:nth-child(3) > img{
  margin-left: 1.625%;
  margin-right: 1.625%;
}

#down > div:nth-child(4) > img{
  margin-left: 1.625%;
  margin-right: 1.625%;
}

*/
/*#down > div:nth-child(5) > img{
}*/

/*#down > div:nth-child(5) > img{
  margin: 0;
}*/

/*#down > div:nth-child(5) > img{
    margin-right: 0%;
    float: right;
}

*/

/*.shapeDiv{
  border-width: 1px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  background-color: rgb(150, 150, 150);
  position: absolute;
  max-width: 1200px;
  width: 100%;
  height: 0;
}*/


/*#footerContainer img{
  margin-left: 20.4%;
  margin-bottom: 2.5%;
  margin-top: 2%;
}


#footerContainer img:hover{
  background-color: #00e1f5;
}*/